#p7 { 
	position: absolute;
	left: 10px;
	top: 850px;	
}

#p8 { 
	position: absolute;
	left: 210px;
	top:850px;	
}

#p9 { 
	position: absolute;
	left: 410px;
	top: 850px;	
}

#p10 { 
	position: absolute;
	left: 610px;
	top: 850px;	
}
#p11 { 
	position: absolute;
	left: 810px;
	top: 850px;	
}

#p12 { 
	position: absolute;
	left: 1010px;
	top:850px;	
}